<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ledgerlink.refresh</string>
		<string>com.ledgerlink.dataprocessing</string>
	</array>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_ledgerlink._tcp</string>
		<string>_ledgerlink._udp</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is required to inform you whether you are within the vicinity to be able to interact with other devices which is necessary to send and receive funds and the blockchain data.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is required to inform you whether you are within the vicinity to be able to interact with other devices which is necessary to send and receive funds and the blockchain data.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is required to inform you whether you are within the vicinity to be able to interact with other devices which is necessary to send and receive funds and the blockchain data.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
